<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.g18.ubb.android.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.main.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.register.RegisterActivity"
            android:label="@string/title_activity_register" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.g18.ubb.android.client.MainActivity" />
        </activity>
        <activity
            android:name=".activities.budgetbook.BudgetBookOverviewActivity"
            android:label="@string/title_activity_budget_book_overview" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.g18.ubb.android.client.MainActivity" />
        </activity>
        <activity
            android:name=".activities.budgetbook.BudgetBookCreateNewActivity"
            android:label="@string/title_activity_budget_book_create_new" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.g18.ubb.android.client.MainActivity" />
        </activity>
        <activity
            android:name=".activities.budgetbook.BudgetBookDetailActivity"
            android:label="@string/title_activity_budget_book_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.g18.ubb.android.client.BudgetBookOverviewActivity" />
        </activity>
         <activity
            android:name=".activities.category.CategoryOverviewActivity"
            android:label="@string/title_activity_categorie_overview" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.g18.ubb.android.client.BudgetBookDetailActivity" />
        </activity>
        <activity
            android:name=".activities.category.CategorieCreateActivity"
            android:label="@string/title_activity_categorie_create" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.g18.ubb.android.client.CategoryOverviewActivity" />
        </activity>
        <activity
            android:name=".activities.category.CategoryChangeActivity"
            android:label="@string/title_activity_category_change" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.g18.ubb.android.client.CategoryOverviewActivity" />
        </activity>
    </application>
</manifest>
